<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="h-screen w-screen">
    <div class="flex flex-row overflow-hidden relative">
        <a href="/cs2" class="h-screen w-1/2 bg-cs2 bg-cover bg-left brightness-50 hover:brightness-75 cs z-20"></a>
        <a href="/dota2" class="h-screen w-1/2 bg-dota2 bg-cover bg-left brightness-50 hover:brightness-75 cs z-20"></a>
    </div>
</body>

</html>